@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.light {
	background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2)),
		url("../assets/background_light.jpg");
	position: fixed;
	z-index: -299;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-size: cover;
	background-position: center;

	--neutral-background: #858585;
	--neutral-text: #000000;
	--accent-background: #ffffff;
	--accent-text: #002136;
	--background-tel: #eeeeee;
	--background-tel-scroll: #ffffff;
	--background-tel-div: #c42d2d;
	--background-img-chan-zero: #5cd166;
	--background-img-chan-one: #c56666;
	--background-img-chan-two: #5a81d4;
	--background-img-chan-three: #c5be58;
	--background-img-chan-four: #2c282b;

	--border-tel-div: #9c9c9c;
	--background-button-tel: rgb(192, 192, 192);
	--background-button-tel-hover: rgb(54, 101, 141);
	--background-button-tel-active: green;
	--background-button-tel-disabled: rgb(245, 245, 245);
	--neutral-input: #c4c4c4;
	--msg-sender: rgb(32, 128, 218);
	--msg-recv: rgb(197, 197, 197);
	--msg-text: #000000;
	--settings-color: rgb(105, 105, 105);
	--alert-color: #800b0b;
	--friend-color: #0a496d;
	--background-button-gameselect: #ffffff;
	--color-button-gameselect: #242424;
	--background-button-profil: #ffffff;
	--color-button-profil: #242424;
	--error-bg-color: rgb(224, 95, 95);
	--error-text-color: white;
	--alert-bg-color: rgb(238, 200, 96);
	--alert-text-color: black;
	--infor-bg-color: rgb(96, 146, 221);
	--infor-text-color: white;
	--notif-text-color: rgb(29, 29, 29);
	--notif-background-color: #ebebeb;
	overflow: scroll;

	--linear-gradient-one: #fafafa;
	--linear-gradient-two: #bbbbbb;
	--linear-gradient-three: #ffffff;
	--linear-gradient-four: #cacacad5;
}

.light::-webkit-scrollbar {
	display: none;
}

.animation {
	transition: 1s ease-in;
}

.dark {
	background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)),
		url("../assets/background_dark.jpg");
	position: fixed;
	z-index: -300;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-size: cover;
	background-position: center;
	transition: 1s ease-in;
	overflow: scroll;

	--neutral-background: #131313;
	--neutral-text: #b8b8b8;
	--accent-background: #204e6b;
	--accent-text: #ffffff;
	--background-tel: #131313;
	--background-tel-div: #ffffff;
	--background-tel-scroll: #252525;
	--background-img-chan: #c4c4c4;
	--background-img-chan-zero: #5cd1669d;
	--background-img-chan-one: #c56666a4;
	--background-img-chan-two: #5a81d49c;
	--background-img-chan-three: #c5be58a1;
	--background-img-chan-four: #414040;

	--border-tel-div: #494949;
	--background-button-tel: rgb(71, 71, 71);
	--background-button-tel-hover: rgb(88, 88, 88);
	--background-button-tel-active: green;
	--background-button-tel-disabled: rgb(34, 34, 34);
	--neutral-input: rgb(71,71,71);
	--msg-sender: rgb(32, 128, 218);
	--msg-recv: rgb(66, 66, 66);
	--msg-text: #c5c5c5;
	--settings-color: rgb(49, 49, 49);
	--alert-color: #400b0b;
	--friend-color: #042335;
	--background-button-gameselect: #181818;
	--color-button-gameselect: #ffffff;
	--background-button-profil: #181818;
	--color-button-profil: #ffffff;
	--error-bg-color: rgb(194, 49, 49);
	--error-text-color: white;
	--alert-bg-color: rgb(197, 153, 33);
	--alert-text-color: black;
	--infor-bg-color: rgb(52, 104, 182);
	--infor-text-color: white;
	--notif-text-color: white;
	--notif-background-color: #353535;

	--linear-gradient-one: #333333;
	--linear-gradient-two: #1a1a1a;
	--linear-gradient-three: #333333;
	--linear-gradient-four: #1a1a1a;
}
.dark::-webkit-scrollbar {
	display: none;
}

.container {
	position: absolute;
	z-index: -200;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-size: cover;
	background-position: center;
}

.errorpage {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #2d3f3a;
	h1 {
		font-size: 100px;
	}
	pre {
		font-size: 20px;
		font-weight: 900;
	}
	p {
		font-size: 70px;
	}
}
