@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.light {
	background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2)),
		url("../assets/background_light.jpg");
	position: fixed;
	z-index: -299;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-size: cover;
	background-position: center;

	--neutral-background: #858585;
	--neutral-text: #000000;
	--accent-background: #ffffff;
	--accent-text: #002136;
	--background-tel: #f8f8f8;
	--background-button-tel: rgb(212, 212, 212);
	--background-button-tel-hover: rgb(23, 116, 198);
	--background-button-tel-active: green;
	--background-button-tel-disabled: rgb(80, 80, 80);
	--neutral-input: #414141;
	--msg-sender: rgb(32, 128, 218);
	--msg-recv: rgb(197, 197, 197);
	--msg-text: #000000;
	--settings-color: rgb(102, 102, 102);
	--alert-color: #610b0b;
	--friend-color: #052b41;
	overflow: scroll;
}

.light::-webkit-scrollbar {
	display: none;
}

.animation {
	transition: 1s ease-in;
}

.dark {
	background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)),
		url("../assets/background_dark.jpg");
	position: fixed;
	z-index: -300;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-size: cover;
	background-position: center;
	transition: 1s ease-in;
	overflow: scroll;

	--neutral-background: #131313;
	--neutral-text: #b8b8b8;
	--accent-background: #204e6b;
	--accent-text: #ffffff;
	--background-tel: #131313;
	--background-button-tel: rgb(45, 45, 45);
	--background-button-tel-hover: rgb(83, 83, 83);
	--background-button-tel-active: green;
	--background-button-tel-disabled: rgb(34, 34, 34);
	--neutral-input: #aaaaaa;
	--msg-sender: rgb(32, 128, 218);
	--msg-recv: rgb(66, 66, 66);
	--msg-text: #c5c5c5;
	--settings-color: rgb(102, 102, 102);
	--alert-color: #610b0b;
	--friend-color: #052b41;
}
.dark::-webkit-scrollbar {
	display: none;
}

.container {
	position: absolute;
	z-index: -200;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-size: cover;
	background-position: center;
}

.errorpage{
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #2d3f3a;
	h1 {
		font-size: 100px;
	}
	pre {
		font-size: 20px;
		font-weight: 900;
	}
	p{
		font-size: 70px;
	}
}
