.light {
	background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2)),
		url("../assets/background_light.jpg");
	position: fixed;
	z-index: -299;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-size: cover;
	background-position: center;

	--neutral-background: #858585;
	--neutral-text: #000000;
	--accent-background: #ffffff;
	--accent-text: #002136;
	--background-tel: #f8f8f8;
	--background-button-tel: rgb(212, 212, 212);
	--neutral-input: #414141;
	--msg-sender: rgb(32, 128, 218);
	--msg-recv: rgb(197, 197, 197);
	--msg-text: #000000;
	--settings-color:rgb(102, 102, 102);
	--alert-color: #610b0b;
	--friend-color: #052b41;
	overflow: scroll;
}

.light::-webkit-scrollbar {
	display: none;
}

.animation {
	transition: 1s ease-in;
}

.dark {
	background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)),
		url("../assets/background_dark.jpg");
	position: fixed;
	z-index: -300;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-size: cover;
	background-position: center;
	transition: 1s ease-in;
	overflow: scroll;

	--neutral-background: #131313;
	--neutral-text: #b8b8b8;
	--accent-background: #204e6b;
	--accent-text: #ffffff;
	--background-tel: #131313;
	--background-button-tel: rgb(27, 27, 27);
	--neutral-input: #aaaaaa;
	--msg-sender: rgb(32, 128, 218);
	--msg-recv: rgb(66, 66, 66);
	--msg-text: #c5c5c5;
	--settings-color:rgb(230, 190, 17);
	--alert-color: #cc3300;
	--friend-color: #b7fffa;
}
.dark::-webkit-scrollbar {
	display: none;
}

.container {
	position: absolute;
	z-index: -200;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-size: cover;
	background-position: center;
}
