.chat {
	overflow: scroll;
	border-radius: 50px 50px 0 0px;
	border: 10px black solid;
	border-bottom: 0px;
	color: rgb(146, 146, 146);
	background-color: var(--background-tel);
	transition: 1s ease-in;
	padding: 0 10px 0 10px;
	--height: 600px;

	/**
	 * define max dimensions of the chatbox to be smaller
	 * when the chat is closed (when there's only the button i.e)
	 */
	max-width: calc(var(--height) / 1.618);
	max-height: var(--height);

	position: fixed;
	bottom: calc(0px);
	right: calc(20px);
	// overflow: hidden;
	.top {
		display: flex;
		text-align: center;
		margin: 0 0 0 90px;
		.cam {
			margin: 0px;
			background-color: #000000;
			color: #f8f8f8;
			width: 200px;
			height: 30px;
			border-radius: 0 0 25px 25px;
		}
		button {
			margin-left: 20px;
		}
	}
	.toggleChat {
		// border: fuchsia 1px solid;
		border: 0px;
		color: var(--neutral-text);
		background-color: rgba($color: #0075b9, $alpha: 0);

		// dimensions of the button to open/close chat
		width: 60px;
		height: 60px;
	}

	.chatbox {
		// border: olive 1px solid;
		color: var(--neutral-text);
		transition: 1s ease-in;

		// dimensions of the main chatbox
		width: calc(var(--height) / 1.618);
		height: var(--height);
	}

	.channelList {
		// border: orange 1px solid;
		color: rgb(0, 115, 192);
		h1 {
			text-align: center;
		}
	}

	h1 {
		color: var(--neutral-text);
		transition: 1s ease-in;
		text-align: center;
		border-radius: 25px;
		margin: 10px 10px 0 10px;
	}

	button {
		background-color: var(--background-button-tel);
		transition: 1s ease-in;
		border: 3px solid;
		border: 0px;
		border-radius: 25px;
		margin-right: 5px;
		border-color: #0000006e;
		padding: 0 10px 0 10px;
		color: #0066b9;

		&:hover {
			background-color: var(--background-button-tel-hover);
			border-color: #000000;
			color: #000000;
			cursor: pointer;
		}

		&:active {
			background-color: var(--background-button-tel-active);
			border-color: #000000;
			color: #000000;
		}

		&:disabled {
			background-color: var(--background-button-tel-disabled);
			border-color: #000000;
			color: #000000;
		}
	}

	.channelmsg {
		overflow: scroll;
		height: 400px;
	}
	.channelmsg::-webkit-scrollbar {
		display: none;
	}

	input {
		margin-top: 10px;
		border-radius: 25px;
		border-top: 0px;
		border-bottom: 0px;
		border-left: 2px solid grey;
		border-right: 2px solid grey;
		border-color: var(--neutral-input);
		background-color: rgba($color: #000000, $alpha: 0);
		color: var(--neutral-input);
		transition: 1s ease-in;
	}
}
.chat::-webkit-scrollbar {
	display: none;
}

.sendmessage {
	display: flex;
	flex-direction: row-reverse;
	text-align: end;
	color: var(--msg-text);
	transition: 1s ease-in;
	margin-right: 10px;
	img {
		height: 40px;
		width: 40px;
		background-color: #000000;
	}
	.senderinfo {
		font-size: 15px;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		height: auto;
		width: auto;
		margin: 0px;
		margin-right: 5px;
		p {
			text-align: start;
			margin: 0px;
			margin-bottom: 5px;
			margin-right: 5px;
		}
		.message {
			transition: 1s ease-in;
			background-color: var(--msg-sender);
			margin: 0px;
			width: fit-content;
			color: rgb(236, 236, 236);
			border-radius: 15px 0px 15px 15px;
			margin: 2px 0 0 0;
			padding: 5px 15px 5px 15px;
			text-align: end;
		}
	}
}

.recvmessage {
	display: flex;
	flex-direction: row;
	img {
		height: 40px;
		width: 40px;
		background-color: #000000;
	}
	.senderinfo {
		font-size: 15px;
		height: auto;
		width: auto;
		margin: 0px;
		margin-left: 5px;
		color: var(--msg-text);
		transition: 1s ease-in;
		.profil {
			border: 0px;
			background-color: rgba($color: #000000, $alpha: 0);
			font-size: 15px;
			color: var(--msg-text);
			transition: 1s ease-in;
			margin: 0px;
			padding: 0px;
		}

		p {
			text-align: start;
			margin: 0px;
			margin-bottom: 20px;
			margin-left: 5px;
		}
		.message {
			background-color: var(--msg-recv);
			transition: 1s ease-in;
			margin: 0px;
			width: fit-content;
			color: var(--msg-text);
			border-radius: 0px 15px 15px 15px;
			margin: 2px 0 0 0;
			padding: 5px 15px 5px 15px;
			text-align: start;
		}
	}
}

.userlist {
	overflow: scroll;
}

.user {
	// border: 2px solid black;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-top: 10px;
	// width: 150px;

	.action {
		// border: 2px solid rgb(223, 0, 0);
		padding: 5px 15px 5px 15px;
		margin-left: 50px;
		border-radius: 25px 25px 25px 0;
		background-color: #ebebeb;
	}

	.profil {
		// border: 2px solid rgb(18, 0, 182);
		// background-color: #000000;
		height: auto;
		width: auto;
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		label {
			margin-left: 5px;
		}
	}
}
