.chat {
	overflow: scroll;
	border-radius: 50px 50px 0 0px;
	border: 10px black solid;
	border-bottom: 0px;
	color: rgb(146, 146, 146);
	background-color: var(--background-tel);
	transition: 0.5s ease-in;
	// padding: 0 10px 0 10px;
	--height: 620px;

	/**
	 * define max dimensions of the chatbox to be smaller
	 * when the chat is closed (when there's only the button i.e)
	 */
	max-width: calc(var(--height) / 1.618);
	max-height: var(--height);

	position: fixed;
	bottom: calc(0px);
	right: calc(20px);
	// overflow: hidden;
	.top {
		display: flex;
		text-align: center;
		margin: 0 0 0 90px;
		.cam {
			margin: 0px;
			background-color: #000000;
			color: #f8f8f8;
			width: 200px;
			height: 30px;
			border-radius: 0 0 25px 25px;
		}
		button {
			margin-left: 20px;
		}
	}
	.toggleChat {
		// border: fuchsia 1px solid;
		border: 0px;
		color: var(--neutral-text);
		background-color: rgba($color: #000000, $alpha: 0);

		// dimensions of the button to open/close chat
		width: 60px;
		height: 60px;
		&:hover{
			background-color: rgba($color: #000000, $alpha: 0);
		}
	}

	.chatbox {
		// border: olive 1px solid;
		color: var(--neutral-text);
		transition: 1s ease-in;

		// dimensions of the main chatbox
		width: calc(var(--height) / 1.618);
		height: var(--height);
	}


		.mpinput{
			width: 250px;
		}
	}
	.form{
		display: flex;
		flex-direction: column;
		pre {
			color: #727272;
			margin: 0px;
		}
	}
	.inputchannelform{
		width: 200px;
		margin: 0px;
		margin-left: 10px;
	}

/*Here*/
.search {
	// display: flex;
	// flex-direction: row;
	margin: 0 10px 10px 10px;
	background-color: #c4c4c4;
	border-radius: 10px;
	.searchbutton{
		border: 0px;
		background-color: rgba($color: #000000, $alpha: 0);
		margin-top: 5px;
		&:enabled{
			background-color: var(--background-button-tel-disabled);
			border-color: #000000;
			color: #cecece;
			transition: 0.5s;

		}
	}
	input{
		border: 0px;
		border-radius: 0px;
		background-color: rgba($color: #000000, $alpha: 0);
		margin: 4px;
		width: 290px;
		&:focus
		{
			outline: none;
		}
	}
}

.password {
	display: flex;
	flex-direction: row;
	margin: 0 10px 10px 10px;
	background-color: #c4c4c4;
	border-radius: 10px;
	// align-items: center;
	// text-align: center;
	justify-content: center;
	.passwordbutton{
		border: 0px;
		// background-color: rgba($color: #000000, $alpha: 0);
		// margin-top: 5px;
		height: 16px;
		margin-top: 5px;
		margin-bottom: 5px;
		// &:enabled{
		// 	background-color: var(--background-button-tel-disabled);
		// 	border-color: #000000;
		// 	color: #cecece;
		// 	transition: 0.5s;

		// }
	}
	input{
		border: 0px;
		border-radius: 0px;
		background-color: rgba($color: #000000, $alpha: 0);
		margin: 4px;
		width: 150px;
		&:focus
		{
			outline: none;
		}
	}
}
.passError{
	font-size: 10px;
	text-align: center;
	padding-left: 8px;
	padding-right: 8px;
	// margin: 0;
}


.sendsection {
	display: flex;
	flex-direction: row;
	background-color: #c4c4c4;
	border-radius: 10px;
	margin: 10px 10px 0 10px;

	.sendbutton{
		border: 0px;
		margin-top: 5px;
		background-color: rgba($color: #000000, $alpha: 0);
		color: #0066b9;
		font-size: 15px;
		margin: 0px;
		padding-top: 0px;
		font-size: 25px;
		padding-right: 15px;
	}
	input{
		border: 0px;
		border-radius: 0px;
		background-color: rgba($color: #000000, $alpha: 0);
		margin: 4px;
		width: 330px;
		&:focus
		{
			outline: none;
		}
	}
}

	.ChatHomePage {
		align-items: start;
		text-align: start;
		text-align: center;
		.imgChat{
			margin-top: 20px;
			height: 300px;
		}
		.titleHome{
			color: var(--neutral-text); ;
		}



		.param{
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			margin-top: 5px;
			margin-bottom: 5px;
		}

		color: rgb(0, 115, 192);

		button {
			height: 18px;
		}
		.mplist{
			display: flex;
			flex-direction: column;
		}

		
	
/*Here*/

	h1 {
		color: var(--neutral-text);
		transition: 1s ease-in;
		// text-align: center;
		border-radius: 25px;
		margin: 10px 10px 0 10px;
	}

	button {
		background-color: var(--background-button-tel);
		border: 3px solid;
		border: 0px;
		border-radius: 25px;
		margin-right: 5px;
		margin-left: 5px;
		border-color: #0000006e;
		padding: 0 10px 0 10px;
		color: #0066b9;
		transition: 0.5s;

	}






/*	.channelList {
		.param{
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			margin-top: 5px;
			margin-bottom: 5px;
		}
		// border: orange 1px solid;
		color: rgb(0, 115, 192);
		h1{
			text-align: center;
		}
		button {
			height: 18px;
		}
	}*/

	h1 {
		color: var(--neutral-text);
		transition: 1s ease-in;
		text-align: center;
		border-radius: 25px;
		margin: 10px 10px 0 10px;
	}
	
	
	// input {
	// 	margin-top: 10px;
	// 	border-radius: 25px;
	// 	border-top: 0px;
	// 	border-bottom: 0px;
	// 	border-left: 2px solid grey;
	// 	border-right: 2px solid grey;
	// 	border : 2px solid #0066b9;
	// 	background-color: rgba($color: #000000, $alpha: 0);
	// 	color: var(--neutral-input);
	// 	transition: 1s ease-in;
	
	// }
	
}


.channelmsg {
		overflow: scroll;
		height: 415px;
		padding: 10px 10px 10px 10px;
		border-top: 1px solid;
		background-color: #ffffff;
		border-bottom: 1px solid;
		border-color: var(--border-tel-div);
		// background-color: #ececec;
		// padding: 5px;
		// margin: 0px;
	}
	.channelmsg::-webkit-scrollbar {
		display: none;
	}
	.chat::-webkit-scrollbar {
		display: none;
	}
	
	.sendmessage {
	display: flex;
	flex-direction: row-reverse;
	text-align: end;
	color: var(--msg-text);
	transition: 1s ease-in;
	margin-right: 10px;
	img {
		height: 40px;
		width: 40px;
		background-color: #000000;
	}
	.senderinfo {
		font-size: 15px;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		height: auto;
		width: auto;
		margin: 0px;
		margin-right: 5px;
		p {
			text-align: start;
			margin: 0px;
			margin-bottom: 5px;
			margin-right: 5px;
		}
		.message {
			transition: 1s ease-in;
			background-color: var(--msg-sender);
			margin: 0px;
			width: fit-content;
			color: rgb(236, 236, 236);
			border-radius: 15px 0px 15px 15px;
			margin: 2px 0 0 0;
			padding: 5px 15px 5px 15px;
			text-align: end;
		}
	}
}

.recvmessage {
	display: flex;
	flex-direction: row;
	img {
		height: 40px;
		width: 40px;
		background-color: #000000;
	}
	.senderinfo {
		font-size: 15px;
		height: auto;
		width: auto;
		margin: 0px;
		margin-left: 5px;
		color: var(--msg-text);
		transition: 1s ease-in;
		.profil {
			border: 0px;
			background-color: rgba($color: #000000, $alpha: 0);
			font-size: 15px;
			color: var(--msg-text);
			transition: 1s ease-in;
			margin: 0px;
			padding: 0px;
		}

		p {
			text-align: start;
			margin: 0px;
			margin-bottom: 20px;
			margin-left: 5px;
		}
		.message {
			background-color: var(--msg-recv);
			transition: 1s ease-in;
			margin: 0px;
			width: fit-content;
			color: var(--msg-text);
			border-radius: 0px 15px 15px 15px;
			margin: 2px 0 0 0;
			padding: 5px 15px 5px 15px;
			text-align: start;
		}
	}
}

.userlist {
	overflow: scroll;
}

.user {
	// border: 2px solid black;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-top: 10px;
	// width: 150px;
	
	.action {
		// border: 2px solid rgb(223, 0, 0);
		padding: 5px 15px 5px 15px;
		margin-left: 50px;
		border-radius: 25px 25px 25px 0;
		background-color: #ebebeb;
	}
	
	.profil {
		// border: 2px solid rgb(18, 0, 182);
		// background-color: #000000;
		height: auto;
		width: auto;
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		label {
			margin-left: 5px;
		}
	}
}

.actionbutton{
	font-size: 30px;
	padding-left: 10px;
	font-weight: 900;
	margin: 0px;
	color: #0066b9;
	
}
.listbutton{
	font-size: 20px;
	padding-left: 25px;
	font-weight: 900;
	margin: 0px;
	color: #0066b9;
	
}
.parambutton{
	font-size: 20px;
	padding-left: 50px;
	font-weight: 900;
	margin: 0px;
	color: #0066b9;
	
}
.addbutton{
	font-size: 30px;
	padding-left: 95px;
	font-weight: 900;
	margin: 0px;
}
.createbutton{
	font-size: 30px;
	padding-left: 350px;
	font-weight: 900;
	margin: 0px;
}

.headsection{
	// border: 3px so
	margin: 0 10px 5px 10px;;
	display: flex;
	flex-direction: row;
	align-items: center;
	.modifbutton{
		margin: 0px;
		padding-left: 5px;
	}

	h2{
		font-size: 30px;
		color: var(--neutral-text);
	}
	.titleMessage{
		margin: 0px;
		margin-left: 120px;;
	}
	.titleNew{
		margin: 0px;
		margin-left: 45px;
	}
	.titleChannel{
		margin: 0px;
		margin-left: 108px;
	}
	.titlePrivate{
		margin: 0px;
		margin-left: 55px;
	}
	
}
.titleAdmin{
	margin: 0px;
}

.headsectionList{
	display: flex;
	flex-direction: row;
}

.channelName{
	// background-color: red;
		margin: 0px;
		padding-bottom: 5px;
		text-align: center;
		color: #0066b9;
}

.mpscroll{
	// margin-top: 10px;
	background-color: #ffffff;
	border-top: 1px solid;
	padding: 5px 10px 0 10px;
	border-color: var(--border-tel-div);
	overflow: scroll;
	height: 478px;
	&::-webkit-scrollbar{
		display: none;
	}
}

.profilmp{
	display: flex;
	flex-direction: row;
	// margin: 5px;
	border-bottom: 1px solid;
	border-color: var(--border-tel-div);
	 padding: 5px;
	 margin: 0 5px 0 5px;
	text-align: center;
	align-items: center;
	.description{
		color: #000000;
		font-size: 15px;
		margin: 0px;
		margin-left: 10px;
		align-items: start;
		text-align: start;
		width: 260px;
	}
	
	.mpname {
		font-size: 20px;
		margin: 0px;
	}
	.object {
		font-size: 15px;
		margin: 0px;
	}
	
	.imgChannel{
		display: flex;
		background-color: #000000;
		width: 50px;
		height: 50px;
		border-radius: 100%;
		align-items: center;
		text-align: center;
		justify-content: center;
		font-size: 30px;
	}
	
}

button {
	background-color: var(--background-button-tel);
	border: 3px solid;
	border: 0px;
	border-radius: 25px;
	margin-right: 5px;
	border-color: #0000006e;
	padding: 0 10px 0 10px;
	color: #0066b9;
	transition: 0.5s;
	
	&:hover {
		background-color: var(--background-button-tel-hover);
		border-color: #000000;
		color: #000000;
		cursor: pointer;
		transition: 0s;
	}
	
	&:disabled {
		background-color: var(--background-button-tel-disabled);
		border-color: #000000;
		color: #cecece;
		transition: 0.5s;
		
	}
}

.empty{
	text-align: center;
	color: #0066b9;
	padding-left: 10px;
	padding-right: 10px;
}

.muteform {
	display: flex;
	flex-direction: row;
	margin: 0 10px 10px 10px;
	background-color: #c4c4c4;
	border-radius: 10px;
	justify-content: center;
	margin: 10px;
	margin-bottom: 0px;
	.passwordbutton{
		border: 0px;

		height: 16px;
		margin-top: 5px;
		margin-bottom: 5px;

	}
	input{
		border: 0px;
		border-radius: 0px;
		background-color: rgba($color: #000000, $alpha: 0);
		margin: 4px;
		width: 150px;
		&:focus
		{
			outline: none;
		}
	}
}