.playsearch {
	// margin-top: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #f8f8f8;
}

.load {
	margin: 30px
}

.button{
	margin-top: 20px;

	border: 4px solid #f8f8f8;
	border-left: 10px solid #f8f8f8;
	border-right: 10px solid #f8f8f8;
	border-radius: 25px;
	background-color: rgba($color: #000000, $alpha: 0);
	padding: 5px 20px 5px 20px;
	color: #f8f8f8;
	font-size: 18px; 
	transition: 0.3s;
}

.button:hover {
	background-color: #e9e9e9;
	color: #000000;

	transition: 0.3s;
	font-size: 18px; 
}

.gameselect {
	color: var(--color-button-gameselect);
	background-color: var(--background-button-gameselect);
	padding: 5px 20px 5px 20px;
	margin: 5px;
	border-radius: 25px;
	width: 230px;
	transition: 2s;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	
}


.statsbutton{
	margin-top: 20px;

	border: 4px solid #f8f8f8;
	border-left: 10px solid #f8f8f8;
	border-right: 10px solid #f8f8f8;
	border-radius: 25px;
	background-color: rgba($color: #000000, $alpha: 0);
	padding: 5px 20px 5px 20px;
	color: #f8f8f8;
	font-size: 18px; 
	transition: 0.3s;
}

.statsbutton:hover {
	background-color: #f8f8f8;
	color: #000000;

	transition: 0.3s;
	font-size: 18px; 
}

.gamemapDefault {
	background-color: #0000ff;
	background: url('../assets/GameSelect/Default.gif');
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	width:700px;
	height: 400px;
	-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;

	border-radius: 50px;
	opacity: 0.8;

}

.gamemapLine {
	background-color: #0000ff;
	background: url('../assets/GameSelect/Line.gif');
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	width:700px;
	height: 400px;
	-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;

	border-radius: 50px;
	opacity: 0.8;

}

.gamemapCube {
	background-color: #0000ff;
	background: url('../assets/GameSelect/Cube.gif');
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	width:700px;
	height: 400px;
	-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;

	border-radius: 50px;
	opacity: 0.8;

}

.gamemapTwin {
	background-color: #0000ff;
	background: url('../assets/GameSelect/Twin.gif');
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	width:700px;
	height: 400px;
	-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;

	border-radius: 50px;
	opacity: 0.8;

}

.playablegamelist
{
	width: 630px;;
	overflow: scroll;
	// align-items: center;
	text-align: center;
	display: flex;
	flex-direction: column;

	.gameplayable{
		color: var(--color-button-gameselect);
		background-color: var(--background-button-gameselect);
		opacity: 0.9;
		border-radius: 100px;
		padding: 5px;
		margin-bottom: 10px;
		transition: 2s;
	}
	.modifierslist{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		p{
		transition: 2s;
			opacity: 1;

			margin: 0px;
			color: var(--background-button-gameselect);
			padding-left: 10px;
			padding-right: 10px;
			background-color: var(--color-button-gameselect);
			border-radius: 50px;
			margin-bottom: 10px;
			margin-left: 5px;
			margin-right: 5px;
		}
		
	}
	.joinbutton{
		transition: 2s;

		background-color: var(--color-button-gameselect);
		border: 0px;
		border-radius: 50px;
		margin-left: 10px;
		padding-left: 10px;
		padding-right: 10px;
		color: #046be0;
		font-weight: bold;
	}
	.joinbutton:hover{
		background-color: var(--background-button-gameselect);
		transition: 2s;
	}
}
.playablegamelist::-webkit-scrollbar {
	display: none;
}