.container {
	position: fixed;
	top: 110px;
	right: 70px;
	width: 800px;
	// background-color: black;
	display: flex;
	flex-direction: column;
	align-items:flex-end;
	margin: 0px;
	padding: 0px;

	.notification {

		display: flex;
		flex-direction: row-reverse;
		text-align: start;
		width:fit-content;
		align-items: center;
		padding: 0px;
		margin: 0px;
		color: var(--notif-text-color);
		height: 40px;
		margin-bottom: 10px;
		animation: fadeIn 0.5s;
		transition: opacity 0.5s;
		.notifDescrib{
			margin: 0;
			margin-left: 3px;
			margin-right: 4px;
			padding: 0;
			background-color: var(--notif-background-color);
			height: 45px;
			padding-left: 15px;
			padding-right: 15px;
				border-radius: 50px 0 0 50px;
			.notifTitle{
				margin:0;
				padding-top: 5px;
				font-size: 15px;
				font-weight: 900;
						text-align: end;
				&.error {
					color: var(--error-bg-color);
				}
		
				&.alert {
					color: var(--alert-bg-color);
				}
		
				&.info {
					color: var(--infor-bg-color);
				}
			}
			.notifMsg{
				margin:0;
			}
		}

		.ico {
			display: flex;
			width: 45px;
			height: 45px;
			align-items: center;
			text-align: center;
			justify-content: center;
			border-radius: 0 50px 50px 0;

			font-size: 20px;
			&.error {
				background-color: var(--error-bg-color);
				color: var(--error-text-color);
			}
	
			&.alert {
				background-color: var(--alert-bg-color);
				color: var(--alert-text-color);
			}
	
			&.info {
				background-color: var(--infor-bg-color);
				color: var(--infor-text-color);
			}
		}


		&.destroyed {
			opacity: 0;
		}
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
