.popupContainer {
	top: 0;
	left: 0;
	position: fixed;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #00000055;
	backdrop-filter: blur(10px);

	.popup {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;

		background-color: #00000055;
		backdrop-filter: blur(10px);
		padding: 200px;
		border-radius: 50px;
		label{
			width: auto;
		}
	}
}

