@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes fade-out {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}


.profil {
	
	--size_unit: 40px;
	display: flex;
	flex-direction: row;
	margin-left: auto;
	margin-right: auto;
	justify-content: center;
	text-align: center;
	align-items: center;
	animation: fade-in 0.5s;
	&:has(button:active){
		animation: fade-out 0.5s;
	}
	
	.resume {
		animation: fade-in 0.5s;
		// background-color: #000000;
		height: 1100px;
		justify-content: center;
	

		animation: ease-in 0.5s;
		display: flex;
		flex-direction: column;
		font-size: 20px;
		color: white;
		text-align: center;
		align-items: center;
		font-size: 20px;
		

		h1 {
			color: white;
			font-size: calc(3 * var(--size_unit));
			margin-top: 0;
			// margin-bottom: calc(1 * var(--size_unit));
		}

		img {
			border-radius: 30px;
			width: 290px;
			height: 290px;
			border: 5px solid var(--background-button-profil);
			transition: 1s;
		}

		.username {
			font-size: calc(1 * var(--size_unit));
			margin-bottom: calc(0.5 * var(--size_unit));

			// &::before {
				// content: "O F";
			// }
		}

		.button {
			width: 295px;
			height: 45px;
			border: 0px solid #f8f8f8;

			border-radius: 25px;
			background-color: var(--background-button-profil);
			padding: 5px 20px 5px 20px;
			color: var(--color-button-profil);
			font-size: 20px;
			font-weight: 600;
			transition: 0.3s;
			cursor: pointer;
			transition: 1s;


			&:hover {
				background-color: #c5c5c5;
				color: #000000;
				transition: 0.3s;

			}

			&:nth-of-type(1) {
				margin-top: calc(1 * var(--size_unit));
			}

			&:nth-of-type(2) {
				margin-top: calc(3 * var(--size_unit));
			}

			&:nth-of-type(3) {
				margin-top: calc(1 * var(--size_unit));
			}

			&:nth-of-type(4) {
				margin-top: calc(1 * var(--size_unit));
			}
			&.shape {
				--sizebutton: 60px;
				font-size: 30px;
				padding: 0px;
				color:#000000;
				padding: 0px;
				margin: 0px;
				width: 86px;
				height: var(--sizebutton);
				border: 0px;
				border-radius: 50px;
				margin: 10px;
				margin-top: 30px;

			}
			&.alert {
				background-color: var(--alert-color);
				transition: 0.5s;

				&:hover{
					background-color: #861818;
				}
			}
			&.settings {
				transition: 0.5s;
				background-color: var(--settings-color);
				&:hover{
					background-color: #979797;
				}
			}
			&.friend {
				transition: 0.5s;
				background-color: var(--friend-color);
				&:hover{
					background-color: #124ba0;
				}
			}
		}
	}

	.menu {
		// background-color: #000000;
		border-radius: 100px;
		.stats {
			display: flex;
			flex-direction: column;
			color: white;
			align-items: center;
			width: 1000px;
			height: 1100px;


			img {
				width: 200px;
				margin-left: 100px;
				margin-bottom: 15px;
			}
			.statsbanner {
				display: flex;
				flex-direction: row;
				margin-left: 100px;
				width: 800px;
				height: 150px;
				align-items: center;
				text-align: center;
				justify-content: center;
				// border: 4px solid white;
				// border-radius: 100px 100px 100px 100px;
				// border-left: 0px;
				// border-right: 0px;
				// background-color:s rgba($color: #000000, $alpha: 0.4);
				// background-color: #f8f8f8;
				.categoryAll{
					color: var(--neutral-text);
					background-color: #ffffff;
					background: linear-gradient(to right, var(--linear-gradient-two), var(--linear-gradient-three));
					margin-left: 5px;
					margin-right: 5px;
					h3{
						margin: 0px;
						font-size: 23px;
					}
					.scores
					{	
						margin: 0px;
						margin-left: 20px;
						margin-right: 20px;
						display: flex;
						flex-direction: row;
						pre{
							color: #f8f8f8;
							font-size: 20px;
							padding: 5px 10px 5px 10px;
						}
						.win{
							background-color: green;
							border-radius: 25px 0 0 25px;
							margin-right: 5px;
						}
						.looses{
							background-color: red;
							border-radius: 0 25px 25px 0;
							margin-left: 5px;
						}	
					
					}
				}
				.categoryRanked{
					color: var(--neutral-text);
					// background-color: #ffffff;
					background: linear-gradient(to right, var(--linear-gradient-one), var(--linear-gradient-two));
					border-radius: 100px 0 0 100px;
					margin-left: 5px;
					margin-right: 5px;
					padding-right: 40px;
					padding-left: 60px;
					h3{
						margin: 0px;
						font-size: 23px;
					}
					.scores
					{	
						margin: 0px;
						margin-left: 20px;
						margin-right: 20px;
						display: flex;
						flex-direction: row;
						pre{
							color: #f8f8f8;
							font-size: 20px;
							padding: 5px 10px 5px 10px;
						}
						.win{
							background-color: green;
							border-radius: 25px 0 0 25px;
							margin-right: 5px;
						}
						.looses{
							background-color: red;
							border-radius: 0 25px 25px 0;
							margin-left: 5px;
						}	
					
					}
				}
				.categoryFriends{
					color: var(--neutral-text);
					background-color: #ffffff;
					background: linear-gradient(to right, var(--linear-gradient-three), var(--linear-gradient-four));
					border-radius: 0 100px 100px 0;
					margin-left: 5px;
					margin-right: 5px;
					padding-right: 60px;
					padding-left: 40px;
					h3{
						margin: 0px;
						font-size: 23px;
					}
					.scores
					{	
						margin: 0px;
						margin-left: 20px;
						margin-right: 20px;
						display: flex;
						flex-direction: row;
						pre{
							color: #f8f8f8;
							font-size: 20px;
							padding: 5px 10px 5px 10px;
						}
						.win{
							background-color: green;
							border-radius: 25px 0 0 25px;
							margin-right: 5px;
						}
						.looses{
							background-color: red;
							border-radius: 0 25px 25px 0;
							margin-left: 5px;
						}	
					
					}
				}
			}
			.statshistory {
				// background-color: rgba($color: #000000, $alpha: 0.4);
				// margin: 20px;
				margin-top: 0px;
				margin-left: 100px;
				display: flex;
				width: 1100px;
				justify-content:space-around;
				// background-color: #000000;
				// border: 4px solid white;
				// border-left: 0px;
				// border-right: 0px;
				height: 700px;
				// padding-left: 40px;
				// padding-right: 40px;
				border-radius: 30px 30px 30px 30px;
				overflow: scroll;
				.divi{
					padding: 0px;
					margin: 0px;
				}

				.class {
					padding-top: 15px;
					.match {
						display: flex;
						flex-direction: column;
						align-items: center;
						img {
							width: 60px;
							height: 60px;
							margin: 0px;
						}
						.score {
							display: flex;
							display: row;
							align-items: center;
						}
						.usermatch {
							display: flex;
							flex-direction: column;
						}
						.result {
							margin-left: 10px;
							margin-right: 10px;
						}
					}

					overflow: scroll;
					width: 285px;
					border-radius: 25px;
					// padding-top: 20px;
					height: 500px;
					// margin-left: 50px;
					// margin-right: 50px;
					background: linear-gradient(to right, var(--linear-gradient-one), var(--linear-gradient-two));
					color: var(--neutral-text);
				}
				.class::-webkit-scrollbar {
					display: none;
				}
			}
			.statshistory::-webkit-scrollbar {
				display: none;
			}
		}
		.friends {
			width: 1000px;
			height: 1100px;
			display: flex;
			flex-direction: column;
			align-items: center;
			.img {
				margin-top: 40px;
				width: 300px;
				margin-bottom: 15px;
			}
			div {
				display: flex;
				flex-direction: row;
				align-items: center;
				div {
					transition: 0.5s;
					display: flex;
					flex-direction: column;
					align-items: center;
					color: rgb(5, 0, 0);
					color: var(--neutral-text);
					margin: 20px;
					margin-top: 0px;
					// border: 4px solid rgb(24, 8, 8);
					border-left: 0px;
					border-right: 0px;
					height: 800px;
					padding-left: 40px;
					padding-right: 40px;
					border-radius: 30px 30px 30px 30px;
					// background-color: rgba($color: #000000, $alpha: 0.4);
					background: linear-gradient(to right, var(--linear-gradient-one), var(--linear-gradient-two));
					overflow: scroll;
				}
				div::-webkit-scrollbar {
					display: none;
				}

			}

			.friendsUser {
				display: flex;
				flex-direction: column;
				align-items: center;
				margin-top: 10px;
				div {
					border: 0px;
					padding: 0px;
					margin: 0px;
					height: auto;
					width: auto;
					background-color: rgba($color: #000000, $alpha: 0);
				}
				button {
					width: 120px;
					height: 25px;
					border: 1px solid #f8f8f8;
					border-left: 5px solid #f8f8f8;
					border-right: 5px solid #f8f8f8;
					border-radius: 25px;
					background-color: rgba($color: #000000, $alpha: 0);
					color: #f8f8f8;
					font-size: 15px;
					transition: 0.3s;
					color: var(--color-button-profil);
					border-color: var(--color-button-profil);
				}
			}

			.requestUser {
				display: flex;
				flex-direction: column;
				align-items: center;
				margin-top: 10px;
				div {
					border: 0px;
					padding: 0px;
					margin: 0px;
					height: auto;
					width: auto;
					background-color: rgba($color: #000000, $alpha: 0);
					align-items: center;
				}
				button {
					width: 130px;
					height: 25px;
					border: 1px solid #f8f8f8;
					border-left: 5px solid #f8f8f8;
					border-right: 5px solid #f8f8f8;
					border-radius: 25px;
					background-color: rgba($color: #000000, $alpha: 0);
					color: #f8f8f8;
					font-size: 15px;
					transition: 0.3s;
					color: var(--color-button-profil);
					border-color: var(--color-button-profil);
				}
				.acceptbutton {
					display: flex;
					flex-direction: row;
					button {
						width: 50px;
						background-color: #f8f8f8;
						margin-left: 10px;
						margin-right: 10px;
						color: var(--color-button-profil);
						border-color: var(--color-button-profil);
					}
				}
			}

			.FriendsList {
				overflow: scroll;
				border: 4px solid #070707;
				border-left: 0px solid #0e0d0d;
				border-right: 0px solid #0c0c0c;
				border-radius: 25px;
				width: 250px;
				margin: 0px;
				margin-top: 10px;
				margin-bottom: 10px;

				padding: 0px;
				height: 400px;
				background-color: rgba($color: #000000, $alpha: 0);
			}
			.FriendsList::-webkit-scrollbar {
				display: none;
			}
		}

		.settings {
			width: 1000px;
			height: 1100px;
			img {
				margin-top: 50px;
				margin-bottom: 20px;
				height: 180px;
				width: 180px;
			}
			.setting {
				display: flex;
				flex-direction: column;
				align-items: center;
				text-align: center;
				color: var(--neutral-text);
				margin: 20px;
				margin-top: 0px;

				// border: 4px solid white;
				border-left: 0px;
				border-right: 0px;

				padding-left: 40px;
				padding-right: 40px;
				border-radius: 30px 30px 30px 30px;
					background: linear-gradient(to right, var(--linear-gradient-one), var(--linear-gradient-two));
					overflow: scroll;
				img {
					margin: 0;
					margin-left: 110px;
				}
				input {
					border-radius: 50px;
					margin-left: 10px;
					margin-right: 10px;
					padding-left: 10px;
					padding-right: 10px;
				}
				button {
					border: 2px solid #f8f8f8;
					border-left: 5px solid #f8f8f8;
					border-right: 5px solid #f8f8f8;
					border-radius: 25px;
					background-color: rgba($color: #000000, $alpha: 0);
					padding: 5px 10px 5px 10px;
					color: var(--color-button-profil);
					border-color: var(--color-button-profil);
					font-size: 13px;
					transition: 0.3s;
					margin-bottom: 10px;
				}
				button:hover {
					background-color: #f8f8f8;
					color: #000000;

					transition: 0.3s;
				}
			}
			.setting::-webkit-scrollbar {
				display: none;
			}
			div {
				margin-bottom: 20px;
			}
		}
	}
}
